# Auto detect text files and perform LF normalization
* text=auto
*.php linguist-detectable=true
*.js linguist-detectable=true
*.css linguist-detectable=true
*.html linguist-detectable=false
*.htm inguist-detectable=false
public/* linguist-generated
scot-ui/public/* linguist-generated
